
<h1>アイテム詳細</h1>
<p>
<!-- app/views/item_masters/index.html.erb -->
<h1>アイテムマスター一覧</h1>
<ul>
  <% @item_masters.each do |item_master| %>
    <li>
      <strong>ID:</strong> <%= item_master.id %><br>
      <strong>名前:</strong> <%= item_master.name %><br>
      <strong>ランク:</strong> <%= item_master.rank %>
    </li>
  <% end %>
</ul>
<%= link_to '一覧に戻る', items_path, class: 'btn btn-primary' %>
