<h2>ユーザー削除。</h2>
<%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary mt-3' %>
<br>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <br>
    </tr>
  <% end %>

