<h1>アイテム一覧</h1>

<%= form_with(url: select_user_items_path, method: :post, local: true) do |form| %>
  <%= form.label :user_id, "ユーザー選択:" %>
  <%= form.collection_select :user_id, User.all, :id, :name, include_blank: true %>
  <%= form.submit "選択" %>
<% end %>
