<h1>アイテムマスター詳細</h1>
<p><strong>Item ID:</strong> <%= @item.item_master_id %></p>
<p><strong>Item Name:</strong> <%= @item.item_master_name %></p>
<p><strong>Item Rank:</strong> <%= @item.item_master_rank %></p>
<%= link_to '戻る', items_path %>
